<Configuration>
  <Networking>Disable</Networking> <!-- disable network -->
  <MappedFolders>
    <MappedFolder>
      <HostFolder>C:\path\to\your\output\folder</HostFolder>
      <SandboxFolder>C:\output</SandboxFolder>
      <ReadOnly>true</ReadOnly> <!-- Set the mapped folder to read-only -->
    </MappedFolder>
  </MappedFolders>
  <LogonCommand>
    <Command>cmd.exe /c start /wait C:\output\Hello.exe > C:\output\output.txt</Command>
  </LogonCommand>
  <Security>
    <UserAccountControl>Enabled</UserAccountControl>
    <RestrictAccessToSystemResources>true</RestrictAccessToSystemResources> <!-- Restrict access to system resources -->
  </Security>
</Configuration>